doctype html
html
  head
    meta(charset="uft-8")/
    title Videos 10 minutos programando
  body
    div
      form(method='post' action='/form')
        div
          label(for='firstName') First Name:
          p
            input(type='text' placeholder='Escribe primer nombre' name='firstName')
        div
          label(for='lastName') Last Name:
          p
            input(type='text' placeholder='Escribe apellido' name='lastName')
        div
          button(tyep='submit') Guardar
